header h1 {
    font-size: 3rem;
}

.cursor {
    display: inline-block;
    background-color: #ffffff;
    width: 2px;
    margin-left: 5px;
    animation: blink 0.7s steps(1) infinite;
}

@keyframes blink {
    0%, 50% {
        opacity: 1;
    }
    50%, 100% {
        opacity: 0;
    }
}
